<div>
  <!-- Highlight Card -->
  <div [ngStyle]="{'background' : config,
                    'padding' : '20px',
                    'border' : '5px solid black'
                  }">
    <h1>Bienvenido {{ title }}</h1>
    <p>{{descripcion}}</p>
    <br>
    <!--Al dar clic en el boton se ejecutara el metodo ocultarVideojuegos mandando como parametro  true y solamente sera visible si mostrarVideoJuegos es diferente a true-->
    <button (click)='ocultarVideojuegos(true)' *ngIf="!mostrarVideojuegos">{{opcion}}</button>
    <!--Al dar clic en el boton se ejecutara el metodo ocultarVideojuegos mandando como parametro  false y solamente sera visible si mostrarVideoJuegos es true-->
    <button (click)='ocultarVideojuegos(false)' *ngIf="mostrarVideojuegos">{{opcion}}</button>
    <videojuego *ngIf="mostrarVideojuegos"></videojuego>
    <zapatillas></zapatillas>
    <cursos></cursos>
  </div>
</div>

<router-outlet></router-outlet>