/*Estilos para la clase altoPrecio*/
.altoPrecio{
    color:gray;
    font-size: 18px;
}

.fondoRojo{
    background: red;
}

.activado{
    border: 3px solid yellow;
}

.subrayado{
    text-decoration: underline;
}